# Project exclude paths
/.gradle/
/buildSrc/.gradle/**
/buildSrc/build/**
/buildSrc/.idea/**
/theme/build/**
/site/build/**
/site/idea/**
/.idea/**
/theme/.idea/**
/theme/out/**
/buildSrc/out/**
build/
